* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #F5F5F5;
}

.top-bar {
    height: 250px;
    background-image: url("img/bg-flliped.jpg");
    background-position: 0 -100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 48px;
    padding-right: 75px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-right: 65px;
}

.lgnButton {
    text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.lgnButton:hover {
    color: #eaeaea;
}

.sgnButton {
    background-color: #0E6C8E;
    padding: 5px 22px;
    border-radius: 1000px;

    box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
    -webkit-box-shadow:  0px 1px 3px  rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
}

.sgnButton:hover {
    background-color: #0C5D7A;
}

.container {
    margin: 0 auto;
    width: 70%;;
}

.search-bar {
    display: block;
    position: relative;
    top: -64px;
    height: 128px;
    background-color: white;

    border-radius: 10pt;

    box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
    -webkit-box-shadow:  0px 1px 3px  rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
}

.search-bar-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-bar-box {
    display: block;
    width: 340px;
    margin: 0 18px;
    height: 50px;
    background-color: white;
    border: 3px solid #0E6C8E;;

    border-radius: 10px;
    position: relative;

    box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
    -webkit-box-shadow:  0px 1px 3px  rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
}

.search-bar-box img {
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
    width: 26px;
    height: 26px;
    opacity: 0.2;
}

.search-bar-box .input {
    font-size: 20px;
    color: #4B4B4B;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-button {
    display: block;
    color: white;
    cursor: pointer;
    margin: 0 18px;
    background-color: #0E6C8E;;
    font-size: 22px;
    font-weight: 700;
    text-align: center;

    padding: 12px 20px;
    border-radius: 10px;

    box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
    -webkit-box-shadow:  0px 1px 3px  rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
}

.search-bar-button:hover {
    background-color: #0C5D7A;
}

.container-body {
    display: flex;
}

.container-body .left-side {
    display: flex;
    flex-direction: column;
    flex: 1 20%;
}

.container-body .left-side .category {
    display: block;
    background-color: white;

    border-radius: 10px;
    margin-bottom: 24px;
    margin-right: 24px;

    padding: 24px;

    box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
    -webkit-box-shadow:  0px 1px 3px  rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
}

.container-body .left-side .category .title {
    font-size: 20px;
    font-weight: 700;
    color: #4B4B4B;
}

.container-body .left-side .category .options {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 12px;
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #4B4B4B;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 4px;
    border: 1px solid #C9C9C9;
}
  
  /* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: rgb(238, 238, 238);
  }
  
  /* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #0E6C8E;
    border: 1px solid #0E6C8E;
}

.container-body .right-side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    margin-left: 24px;

    flex: 2 70%;
}

.container-body .right-side .trip {
    border-radius: 10px;

    background: url("img/hotel.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;

    box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
    -webkit-box-shadow:  0px 1px 3px  rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
}

.container-body .right-side .trip .info {
    background-color: white;

    width: 80%;
    height: 175px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 12px;
    padding-bottom: 12px;

    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;

    box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
    -webkit-box-shadow:  0px 1px 3px  rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 3px  rgba(0,0,0,0.20);
}

.container-body .right-side .trip .info .title {
    font-size: 22px;
    font-weight: 700;
    color: #4B4B4B;
}

.container-body .right-side .trip .info .rating {
    display: flex;
    margin-top: 8px;
}

.container-body .right-side .trip .info .rating img {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}

.container-body .right-side .trip .info .price {
    font-size: 24px;
    font-weight: 700;
    color: #99E000;

    margin-top: 24px;
}

.container-body .right-side .trip .info .stats {
    display: flex;
    margin-top: 24px;
}

.container-body .right-side .trip .info .stats .stats-button {
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-body .right-side .trip .info .stats .stats-button img {
    opacity: 0.8;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
  
.container-body .right-side .trip .info .stats .stats-button .text {
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  color: black;
  opacity: 0.8;
}

.presentation_image{
    width:540px;
    height:auto;
    margin-left:40px;
    border-radius:20%;
    width:540px;
    height:auto;
}