/* GLOBAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #F5F5F5;
    font-size: 1em;
    color: #333333;
    line-height: 1.25em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.125em;
}

p {
    font-size: 1em;
}

.shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

/* END GLOBAL SETTINGS */

/* TOP BAR */

.top-bar {
    height: 300px;
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 48px;
    right: 5%;
}

.menu button {
    color: white;
    font-size: 1.125em;
}

.menu button:first-child {
    margin-right: 65px;
}

.button {
    color: white;
    background-color: #0E6C8E;
    padding: 8px 24px;
    border-radius: 10px;
}

.button:hover {
    background-color: #0C5D7A;
}

.button-normal:hover {
    color: #0E6C8E;
}

.menu img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 24px;
}

/* END TOP BAR */

/* CONTENT */

.container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    transform: translateY(-50px);
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    color: #0E6C8E;
}

/* END CONTENT */

/* USER CONTENT */

.user-content {
    margin-bottom: 48px;
    width: 100%;
    padding: 48px 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    grid-column-gap: 24px;
}

/* END USER-CONTENT */

/* USER INFO */

.user-info {
    flex: 1 33%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: 32px;
}

.user-info h2 {
    color: #0E6C8E;
    margin: 16px 0;
}

/* END USER INFO */

/* USER FORM */

.user-form {
    flex: 2 33%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 48px 24px;
}

.user-form a {
    margin-top: 48px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}

.user-form a:hover {
    color: #0E6C8E;
}

.user-form h2 {
    text-align: center;
    margin: 24px 0;
    color: #0E6C8E;
}

.user-form img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 12px 0;
}

.user-form button {
    margin: 12px 0;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 1.125em;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0E6C8E;
    padding: 12px 20px;
}

.user-form button:hover {
    background-color: #0C5D7A;
}

.form-field {
    display: block;
    width: 240px;
    height: 48px;
    margin: 12px 0;
    background-color: white;
    border: none;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 1em;
    font-weight: bold;
    color: #333333;
    padding-left: 12px;
}

.form-field::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.form-field:focus {
    border: 2px solid #0E6C8E;
}

/* END USER FORM */

/* SAVED TRIPS */

.saved-trips {
    padding: 48px 24px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.saved-trips h2 {
    text-align: center;
    margin: 24px 0;
    color: #0E6C8E;
}

.trip-container {
    overflow-y: scroll;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trip-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 8px;
}

.trip-item .location {
    color: #0E6C8E;
    margin: 0 8px;
}

.trip-item .date {
    margin: 0 8px;
}

.trip-item .price {
    color: #99E000;
    margin: 0 8px;
}

.trip-item .notification {
    margin: 0 8px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 0 8px;
}

.trip-item .notification:hover {
    color: #0E6C8E;
}

.trip-item .delete {
    font-size: 34px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 0 8px;
}

.trip-item .delete:hover {
    color: rgb(206, 38, 38);
}

/* END SAVED TRIPS */

/* FLIGHT SEARCH */

.flight-search {
    margin-bottom: 100px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight-search-item {
    width: 200px;
    margin: 0 36px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    border-radius: 10px;
}

.flight-search-item label {
    color: #0E6C8E;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 8px;
}

.flight-search-item input[type="text"] {
    text-align: left;
    font-size: 1.25em;
    color: #333333;
}

.flight-search-item input[type="text"]::placeholder {
    color: #b6b6b6;
}

.flight-search-item input[type="text"]:focus::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.flight-search input[type="submit"] {
    margin: 0 36px;
    background-color: #0E6C8E;
    border-radius: 10px;
    padding: 32px 16px;
    color: white;
    font-weight: bold;
}

.flight-search input[type="submit"]:hover {
    background-color: #0C5D7A;
}

/* FOOTER */

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    padding: 24px 0;
    background-color: #0E6C8E;
}

.footer-item {
    display: flex;
    flex-direction: column;
    margin: 24px 48px;
}

.footer-item ul {
    list-style: none;
    display: flex;
}

.footer-item ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 64px;
}

.footer-item ul li h4 {
    text-align: center;
    margin-bottom: 4px;
}

.footer-item ul li h4:first-child {
    font-weight: bold;
}

.footer-item a {
    display: block;
    width: 64px;
    height: 64px;
    background-color: #0C5D7A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item a:hover {
    background-color: rgb(10, 79, 104);
}

.footer-item a img {
    border-radius: 50%;
    width: 60%;
    height: 60%;
}

.footer-item h2 {
    margin-bottom: 24px;
    color: white;
}

.footer-item h4 {
    font-weight: normal;
    color: white;
}

/* END FOOTER */

@media (max-width: 1400px) {
    .container {
        width: 90%;
    }
    .modal-content {
        width: 32%;
    }
}

@media (max-width: 1200px) {
    .modal-content {
        width: 50%;
    }
    .footer-item {
        align-items: center;
    }
    .footer-item ul {
        flex-direction: column;
    }
    .footer-item ul li {
        align-items: center;
        margin: 12px 0;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 75%;
    }
    .modal-content {
        width: 50%;
    }
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 720px) {
    .modal-content {
        width: 75%;
    }
}